.quietNet{
  color: red;
  background: blue;
}
.qn-hide{
  display: none !important;
}
a.qn-showOriginal{
  cursor: pointer;
}
.qn-replacementText {
    background: #f7f7f7;
    padding: 15px;
    border: 1px solid #eee;
    color: #4b1161;
    text-decoration: none;
    font-size: 14px;
    clear: both;
    border-radius: 8px;
    margin: 10px 0px;
}
.qn-clear{
  clear: both;
}
.qn-replacementText .qnLogo{
  width: 25px;
  vertical-align: middle;
  margin: auto 10px;
}
.qn-replacementText p{
  margin: 0px;
  display: inline;
}
